body {
    margin: 0;
    background-color: black;
}

.header {
    border: 3px solid aqua;
    display: flex;
    justify-content: space-between;
}

.titulo {
    color:aqua;
    border: 3px solid red;
    width: fit-content;
}
.navBar {
    color: white;
    list-style: none;
    border: 3px solid green;
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 0;
    align-items: center;
    
}